

@media screen and (min-width:1200px){
    .c{
        background: url('C:\Users\nikos\OneDrive\Documents\Vova Woodworking\app\src\images\SS-KH_24MustHaveWoodworkingToolsForYourWorkshop_KH-HRO-1.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vw;
    }
}

@media screen and (max-width:1200px){
    .c{
        background: url('C:\Users\nikos\OneDrive\Documents\Vova Woodworking\app\src\images\SS-KH_24MustHaveWoodworkingToolsForYourWorkshop_KH-HRO-1.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vw;
        padding:0;
    }
}

@media screen and (max-width:500px){
    .c{
        height: 70vw !important;
    }
}

@media screen and (max-width:400px){
    .c{
        height: 90vw !important;
    }
}

@media screen and (max-width:300px){
    .c{
        height: 110vw !important;
    }
}

.about-body{
    background:#875838;
    padding-bottom:1%;
}

.App{
    padding:0;
    height:50vw;
}