/*background*/  

@media screen and (min-width:1200px){
    body{
        background-image: url('C:\Users\nikos\OneDrive\Documents\Vova Woodworking\app\src\images\wood-working-2385634-1.png');
        background-size: cover;
        background-repeat: no-repeat;
        height:auto
    }
}

@media screen and (max-width:1200px){
    body{
        background-image: url('C:\Users\nikos\OneDrive\Documents\Vova Woodworking\app\src\images\wood-working-2385634-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: auto
    }
}

@media screen and (max-width:700px){
    body{
        background-image: url('C:\Users\nikos\OneDrive\Documents\Vova Woodworking\app\src\images\wood-working-2385634-3.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: auto
    }
}
